/*
 * base.css adds CSS style to the Calvin Scouting Report Web Application
 *      Created by: Ethan Clark, Mitch Stark
 *      2017 @ Calvin College
 *      CS 396/398 Senior Project
 *      Calvin Maroon - background: #460101;
 *      Calvin Gold - background: #a77a00;    
 *      
 */

header {
    text-align: center;
    color: white;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    background: #460101;
}

footer {
    text-align: center;
    color: white;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background: #460101;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

body {
    background: #dba61e;
    font-family: serif;
}

table, th, td {
    border: solid 1px black;
}

td, th {
    width: 150px;
    text-align: center;
}

.tab_button {
    background-color: white;
    border: none;
    color: #460101;
    padding: 15px 32px;
    width: 49%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    border-radius: 25px;
}

.select_button {
    background-color: #460101;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 15px 32px;
    min-width: 160px;
}

.vballView {
    display: flex;
    flex-flow: row;
}

.selector {
    flex: 1 1 20%;
    order: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.teamSelector {
    order: 2;
    flex: 1 1 15%;
    width: 150px;
}

.gameSelector {
    order: 4;
    flex: 1 1 15%;
    width: 150px;
}

.rotationSelector {
    order: 6;
    flex: 1 1 15%;
    width: 100px;
}

.teamSelectorLabel {
    order: 1;
    flex: 1 1 5%;
}

.gameSelectorLabel {
    order: 3;
    flex: 1 1 5%;
}

.rotationSelectorLabel {
    order: 5;
    flex: 1 1 5%;
}

.statistics {
    flex: 1 1 80%;
    order: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.vballHeaderOne {
    float: left;
    padding-right: 25px;
    flex: 1 1 50%;
    order: 1
}

.vballHeaderTwo {
    float: left;
    padding-right: 25px;
    flex: 1 1 50%;
    order: 2;
}

.statsHeader {
    flex: 1 1 20%;
    order: 1;
    display: flex;
    flex-flow: row;
}

.tableHeader {
    flex: 1 1 20%;
    order: 2;
    display: flex;
    flex-flow: row;
}

.tableHeaderOne {
    flex: 1 1 50%;
    order: 1;
    margin-right: 50px;
}

.tableHeaderTwo {
    flex: 1 1 50%;
    order: 2;
}

.tableSection {
    flex: 1 1 40%;
    order: 3;
}

.tables {
    display: flex;
    flex-flow: row;
}

.tableOne {
    flex: 1 1 50%;
    order: 1;
    margin-right: 50px;
}

.tableTwo {
    flex: 1 1 50%;
    order: 2;
}

.game_header {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
}

.game_table {
    width: 100%;
}

.game_table_div {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    align-content: center;
}